{% extends 'base.html' %}
{% block title %}
o autorze
{% endblock %}
{% block content %}
<p style="border-radius: 20px; margin: 20px; text-align: center; padding: 20px;" class=" card-text p-0 bg-primary d-inline-block text-white-50 bg-danger">Jestem studentem pierwszego roku Informatyki Stosowanej na Uniwersytecie Ekonomicznym w Krakowie (UEK). Zafascynowany nowymi technologiami i ich wpływem na codzienne życie, zdecydowałem się na wybór tej ścieżki edukacyjnej, widząc w niej ogromny potencjał do rozwoju zawodowego oraz możliwość pracy w dynamicznie rozwijającej się branży IT.

    Na studiach staram się łączyć teorię z praktyką, rozwijając swoje umiejętności w zakresie programowania, analizy danych oraz projektowania systemów informatycznych. Jednym z moich większych osiągnięć, które udało mi się zrealizować do tej pory, jest stworzenie aplikacji – Ceneo Web Scraper. To narzędzie pozwala na automatyczne zbieranie danych z portalu Ceneo, takich jak ceny produktów, oceny użytkowników i inne istotne informacje, co ułatwia porównanie ofert w internecie. Praca nad tym projektem pozwoliła mi rozwinąć umiejętności z zakresu programowania w Pythonie, pracy z API oraz technik web scrapingu.</p>
{% endblock %}